@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* 🔥 BURAYI EKLE: Tüm siteyi zorla tam genişlik yap */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Sağa taşmaları engeller */
}

/* Yazı tipini zorla */
body {
  font-family: var(--font-inter), sans-serif;
}